body {
    margin: 0;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
}

.navBarContainer {
    height: 50px;
    background-color: #1c3144;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.navBarLogo {
    flex: 1 1 auto;
}

.navBarLogo img {
    height: 50px;
}

.navBarLeft {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
    
}

.dropDownMenu {
    float: left;
    overflow: hidden;
    padding: 10px 35px 10px 10px;
    flex: 1 1 auto;
}

.dropDownSubMenu {
    display: none;
    position: absolute;
    background-color: #1c3144;
    margin-left: -10px;
    z-index: -1;
}

.dropDownSubMenu a {
    display: block;
    padding: 15px;
}

.navBarLeft a {
    text-decoration: none;
    color: #FFF;
}

.navBarContainer a:hover, .dropDownMenu:hover{
    background-color: #70161e;
}

.dropDownMenu:hover .dropDownSubMenu {
    display: block;
}

.dropDownSubMenu a:hover {
    background-color: #2e506d;
}

.navBarSearch {
    flex: 3 1 auto;
    margin: 5px;
}

#searchBar {
    width: 80%;
}

.navBarRight img {
    flex: 1 1 auto;

}

.navBarRight img {
    border-radius: 30px;
    background-color: #666;
    height: 40px;

}
