<%layout('layouts/bodyTemplate')%>

<h1>This is Shelf</h1>

<form action="/shelft" method="POST">
    <button>Add Shelf</button>
</form>
<% if (!shelfResult.shelftName) {%>
    <div>No shelfs</div>    
<%}else{%>
    <div>This is shelf</div>    

    <% } %>