<link rel="stylesheet" href="/styles/navbar.css">

<header>
    <div class="container">
        <div class="logo">
            <img src="/image/Pyra_pic.png" alt="">
        </div>
        <nav class="nav-left">
            <ul class="navItems">
                <li><a href="/home">Home</a></li>
                <li><a href="/shelf">Shelf</a></li>
                <li>Other!</li>
            </ul>
        </nav>
        <div class="search">
            <form action="/results" method="GET">
                <input type="text" id="searchBar" name="searchBar">
                <button>Search!</button>
            </form>
        </div>
        <nav class="nav-right">
            <img src="/image/user.png" alt="">
        </nav>

    </div>
</header>